<div [hidden]="user" class="phonelogincontainer center">
    
  <div [hidden]="hideCaptcha" class="recaptcha">Please resolve the reCaptcha!
    <div id="recaptcha-container"></div>
  </div>
 
  <div class="phonebox">      
      <label class="input">+</label>
      <input 
          style="width: 22px;"
          type="text"
          [(ngModel)]="phoneNumber.country"
          class="input"
          placeholder="1" 
          maxlength="2">
      <input
        style="width: 29px;"
        type="text" [(ngModel)]="phoneNumber.area" class="input" placeholder="613"  maxlength="3">
      <input
        style="width: 29px;"
        type="text" [(ngModel)]="phoneNumber.prefix"  class="input" placeholder="555"  maxlength="3">
      <input 
        style="width: 38px;"
        type="text" [(ngModel)]="phoneNumber.line"  class="input" placeholder="5555" maxlength="4">

      <button style="margin-left: 10px;"
      [hidden]="!(hideCaptcha)" (click)="sendLoginCode()">SMS Text Login Code</button>
    
      <div *ngIf="windowRef.confirmationResult" style="margin-left: 10px;">        
        <input type="text" name="code" placeholder="Verification Code" [(ngModel)]="verificationCode">
        <button (click)="verifyLoginCode()">Login</button>
      </div>
    
  </div>
</div>
  
<div *ngIf="user">
   You have successfully logged in with your phone number!
  
   UserId: {{ user?.uid }}
  
</div>
