.center {
    margin: auto;
    width: 90%;
    //border: 3px solid green;
    padding: 10px;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

.phonelogincontainer{
   background: rgb(235, 239, 240);   
   display: block;
}

.recaptcha {
    margin-left: 20px;
}

.phonebox {
   background: rgb(241, 236, 237); 
   margin-left: 20px;
}

.input {
    margin-left: 2px;
}