<h1 id="title" class="title">Reset password</h1>

<p class="sub-title">Please enter your email address to request a password reset</p>

  <form  #form="ngForm" aria-labelledby="title">
  <div class="form-control-group">
    <span class="label-with-link">
      <label class="label" for="input-email">Email address:</label>
      <label class="label">No account? <a class="forgot-password caption-2" routerLink="/fauth/register-user">Register</a></label>
     </span>
    <input  id="input-email" nbInput fullWidth type="text" placeholder="Email address"
    fieldSize="large"
    autofocus required #passwordResetEmail/>
   </div>

   <button nbButton
  fullWidth
  status="primary"
  size="large"
  [disabled]="submitted || !form.valid" (click)="authService.ForgotPassword(passwordResetEmail.value)">
  Reset Password
  </button>
</form>

<section class="another-action" aria-label="login">
  Go back to <a class="text-link" routerLink="/fauth/sign-in">Log in</a>
</section>

