<h1 id="title" class="title">Sign up</h1>

<p class="sub-title">Please enter your email address to request a password reset</p>

  <form  #form="ngForm" aria-labelledby="title">
  <div class="form-control-group">
    <input  style="margin-bottom: 0.3rem;" id="input-email" nbInput fullWidth type="text" placeholder="Email address"
    fieldSize="large"
    autofocus required #userEmail/>
    <input  id="input-email" nbInput fullWidth type="password" placeholder="Password"
    fieldSize="large"
    autofocus required #userPwd/>
   </div>

   <button nbButton
  fullWidth
  status="primary"
  size="large"
  [disabled]="submitted || !form.valid" (click)="authService.SignUp(userEmail.value, userPwd.value)">
  Sign up
  </button>
</form>

<section class="another-action" aria-label="Social sign in">  
  <p class="sub-title">.. or continue with your social accounts</p>

  <button type="button" nbButton fullWidth size="large" status="info" (click)="authService.GoogleAuth()">
    <i class="fab fa-google-plus-g"></i>
    Log in with Google
  </button>
</section>

<section class="another-action" aria-label="login">
  Already have an account? <a class="text-link" routerLink="/fauth/sign-in">Log in</a>
</section>
