<!-- style="background: none;" -->
<h1 id="title" class="title">Login</h1>
<section class="another-action" aria-label="Emaillogin">
<p class="sub-title">Hello! Log in with your phone...</p>

<!-- <nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
  <p class="alert-title"><b>Oh snap!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
  <p class="alert-title"><b>Hooray!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
  </ul>
</nb-alert> -->


<div aria-labelledby="title">

  <section [hidden]="hideCaptcha" class="col-xxl-7 form-control-group">
    <label class="label">Resolve reCaptcha for phone login!</label>
    <div style="width: 100%;">
      <div style="transform: scale(0.8);   display: table;
      margin: 0 auto;" id="recaptcha-container"></div>
    </div>
    <label class="label">No previous sign-up needed for the phone login!</label>
  </section>


  <div class="col-xxl-7">
    <div class="row">
      <div class="col-md-6" style="margin-top: 1rem;">
        <label class="label" for="country-code-select">Select the country code</label>
        <nb-select  id="country-code-select" style="width: 12.6rem;" autofocus required size="large" name="countryCode" id="" [(ngModel)]="phoneNumber.country">
          <nb-option data-countryCode="US" Selected value="1">USA & Canada (+1)</nb-option>
          <nb-option-group label="Other countries">
            <nb-option *ngFor="let countryCodes of CC" [value]="countryCodes.value">{{countryCodes.display}}</nb-option>
          </nb-option-group>
        </nb-select>
      </div>
      <div class="col-md-6" style="margin-top: 1rem;">

        <label class="label" for="phone-area-code">Enter the phone number:</label>
        <span>
            <input id="phone-area-code" nbInput  type="text" fieldSize="large" autofocus required
            [(ngModel)]="phoneNumber.area" placeholder="222" maxlength="3"
            style="width: 4rem;margin-right: .3rem;"
            />
            
            <input nbInput type="text" fieldSize="large" autofocus required
            [(ngModel)]="phoneNumber.prefix" placeholder="555" maxlength="3"
            style="width: 4rem;margin-right: .3rem;"
            />

            <input nbInput  type="text" fieldSize="large" autofocus required
            [(ngModel)]="phoneNumber.line" placeholder="5555" maxlength="4"
            style="width: 4.6rem;"
            />
        </span>

      </div>
    </div>
   </div>


  <section class="another-action" aria-label="Send verification code">
  <button nbButton fullWidth size="large" status="info" [hidden]="hideSendSms" (click)="sendLoginCode()">SMS Text Login Code</button>
  </section>
  
  <section class="another-action" aria-label="Send verification code" *ngIf="windowRef.confirmationResult">
    <input nbInput
      fullWidth fieldSize="large" type="text" name="code" placeholder="Verification Code" [(ngModel)]="verificationCode">
    </section>
    <section class="another-action" aria-label="Send verification code" *ngIf="windowRef.confirmationResult">
      <button nbButton
      fullWidth
      status="info"
      size="large" (click)="verifyLoginCode()">Log in with phone</button>
    </section>

</div>
</section>

<section class="another-action" aria-label="Emaillogin">  

<p class="sub-title">.. or log in with your email.</p>


<!-- (ngSubmit)="login()" -->
<form  #form="ngForm" aria-labelledby="title">

  <div class="form-control-group">
    <span class="label-with-link">
      <label class="label" for="input-email">Email address:</label>
      <label class="label">No account? <a class="forgot-password caption-2" routerLink="/fauth/register-user">Register</a></label>
     </span>
    <input  id="input-email" nbInput fullWidth type="text" placeholder="Email address"
    fieldSize="large"
    autofocus #userName required/>
   </div>

  <div class="form-control-group">
    <span class="label-with-link">
      <label class="label" for="input-password">Password:</label>
      <a class="forgot-password caption-2" routerLink="/fauth/forgot-password">Forgot Password?</a>
    </span>
    <input nbInput  id="input-password"
    fullWidth type="password" fieldSize="large" placeholder="Password" #userPassword required>  
  </div>

  <button nbButton
  fullWidth
  status="primary"
  size="large"
  [disabled]="submitted || !form.valid" (click)="authService.SignIn(userName.value, userPassword.value)">
  Log in with email
  </button>
</form>
</section>


<section class="another-action" aria-label="Social sign in">  
  <p class="sub-title">.. or log in with your social accounts</p>

  <button type="button" nbButton fullWidth size="large" status="info" (click)="authService.GoogleAuth()">
    <i class="fab fa-google-plus-g"></i>
    Log in with Google
  </button>
</section>
