


        <nb-card>
            <nb-card-body>
                Special thanks to <b><A HREF="mailto:nicholas.mincu@gmail.com">nicholas.mincu@gmail.com</A></b> - the main reason for which this software is being built!
            </nb-card-body>
        </nb-card>
 
        <div id="container" style="background-image: url('../../../assets/resources/GamerNanny.png');
        background-position:center;
	background-repeat:no-repeat;
	background-size:cover;">
            <div id="main">
                <nb-card status="danger">
                    <nb-card-header>Attention</nb-card-header>
                    <nb-card-body>
                      Do NOT install this software unless you are part of the test program!
                  </nb-card-body>
                  <nb-card-footer>
                    During installation enter your account
                    <a id="email"></a>
                    <a id="phone"></a>
                    when asked!
                  </nb-card-footer>
                </nb-card>
                  
                
               
             </div> 

                
      </div>

   
      <div>Installation</div>
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/i39RADybY94" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div>Capabilities</div>
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/r536pi-5q3s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    
    <!-- <nb-sidebar>
        <img style="transform: scale(0.6);" src="../../../assets/resources/GamerNanny.png">
    </nb-sidebar> -->

    <nb-layout>
        <nb-layout-column>
            <!-- temp disabled to prevent kids from uninstalling it-->
            <form method="get" action="../../../assets/windows-app/GNUninstall.exe">
                <button nbButton status="danger" type="submit"><i class="fa fa-download"></i> Download Uninstaller!</button>
             </form>         
        </nb-layout-column>
        <nb-layout-column left>
            <form method="get" action="../../../assets/windows-app/GNInstall.exe">
                <button nbButton status="success" type="submit"><i class="fa fa-download"></i> Download Gammer Nanny!</button>
              </form>          
        </nb-layout-column>
    </nb-layout>